<html><head>
	<title>小梁小何婚礼邀请函</title>
	<meta charset="utf-8">
	<meta name="apple-touch-fullscreen" content="YES">
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="pragram" content="no-cache">
	<link rel="stylesheet" type="text/css" href="{:APP_DIR}/{:MODULE_NAME}/View/_static/css/copyright.css">
    <link rel="stylesheet" type="text/css" href="{:APP_DIR}/{:MODULE_NAME}/View/_static/css/main.css">
    <link rel="stylesheet" type="text/css" href="{:APP_DIR}/{:MODULE_NAME}/View/_static/css/add2home.css">
	<script type="text/javascript" src="{:APP_DIR}/{:MODULE_NAME}/View/_static/js/offline.js"></script>
	<!--移动端版本兼容 -->
	<script type="text/javascript">
	    var phoneWidth = parseInt(window.screen.width);
	    var phoneScale = phoneWidth / 640;
	    var ua = navigator.userAgent;
	    if (/Android (\d+\.\d+)/.test(ua)) {
	        var version = parseFloat(RegExp.$1);
	        // andriod 2.3
	        if (version > 2.3) {
	            document.write('<meta name="viewport" content="width=640, minimum-scale = ' + phoneScale + ', maximum-scale = ' + phoneScale + ', target-densitydpi=device-dpi">');
	            // andriod 2.3以上
	        } else {
	            document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
	        }
	        // 其他系统
	    } else {
	        document.write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
	    }
	</script>
	<!--移动端版本兼容 end -->
    <style>
    .dianji-img{
	width:100%;
	z-index:999;
	position:fixed;
	margin-left:auto;
	margin-right:auto;
	max-width:480px;
    top:50%;
    margin-top: -340px; 
    }
    </style>
</head>

<body class="s-bg-ddd pc perspective yes-3d" style="-webkit-user-select: none;">
	<!--模版加载提示-->
	<section class="u-alert">
		<img style="display:none;" src="{:APP_DIR}/{:MODULE_NAME}/View/_static/imgs/loading_large.gif">
		<div class="alert-loading z-move">
			<div class="cycleWrap">
				<span class="cycle cycle-1"></span>
				<span class="cycle cycle-2"></span>
				<span class="cycle cycle-3"></span>
				<span class="cycle cycle-4"></span>
			</div>
			<div class="lineWrap">
				<span class="line line-1"></span>
				<span class="line line-2"></span>
				<span class="line line-3"></span>
			</div>
		</div>
	</section>
	<!--模版加载提示 end-->
	
			<!-- 声音控件 -->
	<section class="u-audio f-hide" data-src="{$music}">
		<p id="coffee_flow" class="btn_audio">
			<strong class="txt_audio z-hide">关闭</strong>
			<span class="css_sprite01 audio_open"></span>
			<div class="coffee-steam-box" style="height: 100px; width: 44px; left: 60px; top: -50px; position: absolute; overflow: hidden; z-index: 0;"></div>
		</p>
	</section>
	<!-- 声音控件 end-->
	<!-- 箭头指示引导 -->
	<section class="u-arrow f-hide">
		<p class="css_sprite01"></p>
	</section>
	<!-- 箭头指示引导 end-->

	<!-- page页面内容 -->
	<section class="p-ct transformNode-3d" style="height: 659px;">
		<!-- 旋转正面 -->
		<div id="j-mengban" class="translate-front" style="height: 659px;">
			<div class="mengban-warn"></div>
				
		</div>
		<!-- 旋转正面 end-->
		
		<!-- 旋转反面 -->
		<div class="translate-back f-hide" style="height: 659px;">
			
			
			<!-- 封页 1-->

			<div class="m-page m-fengye f-hide" data-page-type="info_pic3" data-statics="info_pic3" style="height: 659px;">
				<div class="page-con lazy-img" data-src="{$pics[0]['pic_url']}" data-position="50% 50%" data-size="cover" style="background-image: url({$pics[0]['pic_url']}); background-size: cover; height: 661px; background-position: 50% 50%;">
				</div>
			</div>
			
			<!-- 封页 end-->
			
			<div class="m-page m-bigTxt f-hide" data-page-type="bigTxt" data-statics="info_list" style="height: 659px;">
				<div class="page-con j-txtWrap lazy-finish" data-src="{$pics[1]['pic_url']}" data-position="50% 50%" data-size="cover" style="background-image: url({$pics[1]['pic_url']}); background-size: cover; background-position: 50% 50%;">
				</div>
			</div>
			
            <div class="m-page m-bigTxt f-hide" data-page-type="bigTxt" data-statics="info_list" style="height: 659px;">
				<div class="page-con j-txtWrap lazy-finish" data-src="{$pics[2]['pic_url']}" data-position="50% 50%" data-size="cover" style="background-image: url({$pics[2]['pic_url']}); background-size: cover; background-position: 50% 50%;">
				</div>
			</div>
			
            <div class="m-page m-bigTxt f-hide" data-page-type="bigTxt" data-statics="info_list" style="height: 659px;">
				<div class="page-con j-txtWrap lazy-img" data-src="{$pics[3]['pic_url']}" data-position="50% 50%" data-size="cover" style="background-image: url({$pics[3]['pic_url']}); background-size: cover; background-position: 50% 50%;">
				</div>
			</div> 
            
            <div class="m-page m-bigTxt f-hide" data-page-type="bigTxt" data-statics="info_list" style="height: 659px;">
				<div class="page-con j-txtWrap lazy-img" data-src="{$pics[4]['pic_url']}" data-position="50% 50%" data-size="cover" style="background-image: url({$pics[4]['pic_url']}); background-size: cover; background-position: 50% 50%;">
				</div>
			</div>
			
            <div class="m-page m-bigTxt f-hide" data-page-type="bigTxt" data-statics="info_list" style="height: 659px;">
				<div class="page-con j-txtWrap lazy-img" data-src="{$pics[5]['pic_url']}" data-position="50% 50%" data-size="cover" style="background-image: url({$pics[5]['pic_url']}); background-size: cover; background-position: 50% 50%;">
				</div>
			</div> 
			
		    <!-- 大图文 3-->
			<!-- 大图文 3-->
			<!-- 最后一页作为邀请语句已经地点指明 -->
			<div class="m-page m-bigTxt f-hide" data-page-type="bigTxt" data-statics="info_list" style="height: 659px;">
				<div class="page-con j-txtWrap lazy-img" data-src="img/13.jpg" data-position="50% 50%" data-size="cover" style="background-image: url(http://14.18.144.188:810/template/19/img/loading_large.gif); background-size: 120px; background-position: 50% 50%;">
            
            	<div class="dianji-img">
            		<p><img src="{:APP_DIR}/{:MODULE_NAME}/View/_static/imgs/13A.png"></p>
            		<p><br></p>
            		<p><a href="richeng.jpg" target="_black"><img src="{:APP_DIR}/{:MODULE_NAME}/View/_static/imgs/anpai.png"></a></p>
            		<p><br></p>
            		<p>
                	</p>
                	<div style="width:640px;">
                		<!-- 百度地图API -->
                  		<a href="http://map.baidu.com/mobile/webapp/place/detail/qt=ninf&amp;wd=暨南大学&amp;c=257&amp;searchFlag=bigBox&amp;version=5&amp;exptype=dep&amp;nb_x=12615508.63&amp;nb_y=2634430.83&amp;center_rank=1&amp;uid=ddc8fe7205e884a7b6f42ffd&amp;industry=education/showall=1&amp;detail_from=list&amp;third_party=wi&amp;vt=map" target="_black">
            				<img src="{:APP_DIR}/{:MODULE_NAME}/View/_static/imgs/dianji2.png" style="float: right;">
            	  		</a>
                	</div>
                	<p></p>
               </div>
			 </div>
		</div>
			<!-- 大图文 end-->  
		</div>
		<!-- 旋转反面 end-->
	</section>
	<!-- 正文介绍 end-->

	<!--meeting map-->
	<div class="ylmap bigOpen">
		<!--地图插件元素-->
		<div class="bk"><span class="css_sprite01"></span></div>
	</div>
	<!--meeting map end-->
	<!-- lightapp入口 -->
	
	<!-- lightapp入口 end-->
	<!--pageLoading-->
	<section class="u-pageLoading">
		<img src="{:APP_DIR}/{:MODULE_NAME}/View/_static/imgs/load.gif" alt="loading">
	</section>
	<!--pageLoading end-->
	
	<!-- 资源传递 -->
	<!-- 模版ID -->	
	<!-- 微信分享信息 -->
	<!-- 微信分享信息 -->
	<!-- 微信分享信息 -->
	
	<input id="ca-tips" type="hidden" value="">
	<input id="r-cover" type="hidden" value="{$cover}">
	
	<input id="r-wx-title" type="hidden" value="小梁小何婚礼邀请函">
	<input id="r-wx-img" type="hidden" value="http://192.168.1.90/TouchMe2/img/wei.jpg">
	<input id="r-wx-con" type="hidden" value="梁何联婚，2014年12月27日，各位朋友快来围观。">	
	<!-- 资源传递 end-->

	<!--脚本加载-->
	<script src="{:APP_DIR}/{:MODULE_NAME}/View/_static/js/init.mix.js" type="text/javascript" charset="utf-8"></script>
	<script src="{:APP_DIR}/{:MODULE_NAME}/View/_static/js/weixin.js" type="text/javascript" charset="utf-8"></script>
	<script src="{:APP_DIR}/{:MODULE_NAME}/View/_static/js/coffee.js" type="text/javascript" charset="utf-8"></script>
	<script src="{:APP_DIR}/{:MODULE_NAME}/View/_static/js/10_ylMap.js" type="text/javascript" charset="utf-8"></script>
	<script src="{:APP_DIR}/{:MODULE_NAME}/View/_static/js/Lottery.js" type="text/javascript" charset="utf-8"></script>
	<script src="{:APP_DIR}/{:MODULE_NAME}/View/_static/js/99_main.js?1404267694" type="text/javascript" charset="utf-8" defer＝'defer'=""></script>
	<!--脚本加载 end-->	
</body></html>