<html lang="zh-CN"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="icon" href="../../favicon.ico">
    <title>众达龙设备管理系统</title>

    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/Application/Zdl/View/_static/css/starter-template.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="<php>echo U('Zdl/Zdl/index'); </php>">工地列表</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="<php>echo U('Zdl/Zdl/repairationlist', array('pid'=>$pid));</php>">维修记录</a></li>
            <li class="active"><a href="#"><php>if(empty($task)){echo '添加维修记录';}else{echo '编辑维修记录';}</php></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="starter-template">
      	<form method="post" action="{$save_url}">
      		<fieldset>
      			<legend>{$process['p_title']} -- 维修记录</legend>
      			<dl id="process_info" class="dl-horizontal">
      				<dt>维修事项:</dt>
      				<dd><input type="text" name="t_title" placeholder="简单描述一下情况" value="{$task['t_title']}"></dd>
      				<dt>损坏情况:</dt>
      				<dd><textarea name="t_request" placeholder="简单描述一下什么坏了？" cols="30" rows="5">{$task['t_request']}</textarea>
      				<dt>维修结果:</dt>
      				<dd><textarea name="t_response" placeholder="简单描述一下修复情况" cols="30" rows="5">{$task['t_response']}</textarea>
      				<dt>未修复情况:</dt>
      				<dd><textarea name="t_attention" placeholder="简单描述一下还有什么未修好，要注意的" cols="30" rows="5">{$task['t_attention']}</textarea>
      			</dl>
      			<php>if(!empty($task['t_id'])){</php>
      			<input type="hidden" name="tid" value="{$task['t_id']}">
      			<php>}</php>
      			<input type="hidden" name="pid" value="{$pid}">
      			<input type="submit" class="btn" value="提交">
      		</fieldset>
      	</form>
      </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body></html>